<form>
First name: <input name='firstName'><br>
Last name: <input name='lastName'><br>
Email: <input type='email' name='email'><br>
Password: <input type='password'><br>
<button type='submit'>Submit</button>
<form>
